* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

.header-logo-container {
    background-color: #393e46;
    height: 12vh;
    padding-left: 5.2% !important;
}

.header {
    background-color: #eeeeee;
}

.path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 5s linear alternate infinite;
}

@keyframes dash {
    from {
        stroke-dashoffset: 1000;
    }

    to {
        stroke-dashoffset: 0;
    }
}

.sidebar {
    background-color: #393e46;
    height: 87vh;
    padding-right: 0;
    padding-left: 0;
}

.dashboard-list a li {
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
}

.content {
    background-color: #eeeeee;
    font-family: 'Montserrat', sans-serif;
}

.dashboard-list a:hover li {
    color: #393e46;
    background-color: #929aab;
}

.dashboard-list a:hover {
    text-decoration: none;
}

.dashboard-list li {
    color: #f7f7f7;
    padding: 10px;
    background-color: rgb(49, 48, 48);
}

.icon {
    color: #393e46;
}

.form-voucher {
    border: 1px solid black;
    border-radius: 10px;
    position: relative;
}

.v-title {
    text-align: center;
    margin: 0;
    font-weight: bold;
    font-size: 3rem;
}

.slmt {
    text-align: center;
    margin: 0;
}

.receiver {
    text-align: center;
    color: rgb(133, 1, 1);
}

.cshbck {
    text-align: center;
    margin: 0;
    font-weight: bold;
    color: rgb(170, 170, 170);
    font-size: 2rem;
}

.amount {
    text-align: center;
    font-size: 5rem;
    font-weight: bold;
    padding-bottom: 5%;
}

.voucher-code {
    display: flex;
    justify-content: center;
}

.voucher-code-title {
    margin-right: 10px;
}

.voucher-code-item {
    background-color: rgb(170, 170, 170);
    color: #ffff;
}

.btn-send {
    padding-left: 20px;
    padding-right: 20px;
    border: 0;
    border-radius: 5px;
}